.selling-phone
{
    background-image: url('../images/winters/phone.jpg');
    background-size: cover;
}

.my-bg
{
    background-color: #F5F5F5;
}

.my-font
{
    font-size:12px;
}

.my-font14
{
    font-size:10px;
}

.my-font16
{
    font: size 12px;
}

.clr
{
    background-color: #FB641B;
    color: #FFFFFF;
}